<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="~css/style.css">
    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </nav>
        <img src="~/images/neymar.png" alt="Neymar">
        <h1>Neymar da Silva Santos Júnior</h1>
        <h2>About Me</h2>
        <p>Neymar da Silva Santos Júnior (Portuguese pronunciation: [nejˈmaʁ dɐ ˈsiwvɐ ˈsɐ̃tus ˈʒũɲoʁ]; born 5 February 1992), commonly known as Neymar or Neymar Jr., is a Brazilian professional footballer who plays as a forward for French club Paris Saint-Germain and the Brazil national team.

Neymar came into prominence at an early age at Santos, where he made his professional debut aged 17. He helped the club win two successive Campeonato Paulista championships, a Copa do Brasil, and the 2011 Copa Libertadores, Santos' first continental title since 1963. Neymar was twice named the South American Footballer of the Year, in 2011 and 2012, before relocating to Europe to join Barcelona. As part of Barça's attacking trio with Lionel Messi and Luis Suárez, he won the continental treble of La Liga, the Copa del Rey, and the UEFA Champions League in the 2014–15 season, followed the next year by the domestic double. He came third for the FIFA Ballon d'Or in 2015. In August 2017, Neymar moved from Barcelona to Paris Saint-Germain in a transaction worth €222 million, making him the world's most expensive player.</p>

    </body>
</html>