<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Hello!</title>
        <link rel="stylesheet" href="~/css/style.css">

    </head>
    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
        </nav>
        <h1>Projects</h1>
        <ul>
            <li><h2>Santos</h2>
                <img  class="logo" src="~/images/santos.png" alt="Santos">
                <p>Neymar began playing football at an early age and he was soon spotted by Santos FC who offered him a contract in 2003, where he was inducted into their youth academy, which has, in the past, produced Brazilian internationals like Coutinho, Clodoaldo, Diego, Elano and Alex. He also joined the likes of Pepe, Pelé and Robinho in starting out his career at the club, nicknamed Peixe.[11] While in the youth academy, Neymar met Paulo Henrique Ganso, becoming good friends in the process. Aged 14, Neymar travelled to Spain to join the Real Madrid youth team, at the time when Real had stars like Ronaldo, Zinedine Zidane, David Beckham, Roberto Carlos and Robinho.</p>
            </li>
            <li><h2>Barcelona</h2>
                <img  class="logo" src="~/images/barca.png" alt="Barca">
                <p>On 24 May 2013, Santos announced that they had received two offers for Neymar.[57] The following day, Neymar announced he would sign with Barcelona on 27 May 2013 and join the team after playing in the 2013 FIFA Confederations Cup. Neither Neymar nor the clubs released details on the transfer fee or personal terms, save to say he signed a five-year deal.[58] On 3 June 2013, Neymar was unveiled by Barcelona after passing medical tests and signing a contract that would keep him at the club through June 2018.[59]

Neymar was presented at the Camp Nou in front of 56,500 fans, a record turnout for a Brazilian player.[60] Club vice-president Josep Maria Bartomeu initially said Neymar's transfer fee was €57.1 million and his release clause set at €190 million.[61][62] Barcelona's doctor suggested he might need to gain weight to be able to cope physically in Spanish football.[6</p>
            </li>
            <li><h2>PSG</h2>
                <img  class="logo" src="~/images/psg.png" alt="Paris Saint Germain">
                <p>Dimaria is here , cavani is here, Veratti is here.....eymar was presented at the Camp Nou in front of 56,500 fans, a record turnout for a Brazilian player.[60] Club vice-president Josep Maria Bartomeu initially said Neymar's transfer fee was €57.1 million and his release clause set at €190 million.[61][62] Barcelona's doctor suggested he might need to gain weight to be able to cope physically in Spanish football.</p>
            </li>
        </ul>
        
    </body>
</html>